# Dependencies
/node_modules

# yarn error logs
yarn-error.log

# Environment varibales
.env*
!.env*.example

# Configuration
configFile.json

# Reports
/src/public/reports

# Code coverage
coverage

#json files
