/*== Outlined ==*/
.table-hover tbody tr:hover {
  color: #3c4b64;
  background-color: lightgrey;
}

.table-hover {
  box-shadow: 1px rgb(211, 199, 199);
}

.dataTable thead {
  background-color: #12adbe;
  color: white;
  font-weight: normal;
  height: 3.5rem;
  position: sticky;
  top: 0;
}

.dataTable th {
  font-weight: normal;
  position: sticky;
}

.dataTable td {
  padding: 0.10rem !important;
  border-top: 0.5px solid !important;
  border-top-color: #d8dbe0 !important;
}

.dataTable.globalSettings td {
  padding: 0.5rem 0.5rem  0.5rem 1.5rem !important;
  border-top: 0.5px solid !important;
  border-top-color: #d8dbe0 !important;
}

.dataTable.loginLogs td {
  padding: 0.5rem !important;
  border-top: 0.5px solid !important;
  border-top-color: #d8dbe0 !important;
}

.dataTable tbody {
  background-color: white;

}

.dataTable td:hover {
  background-color: 1px solid lightgrey;
}

/* To Make Table Height Static */
.maxWidth>.table-responsive,
.form-responsive {
  max-height: 31rem;
  min-height: 31rem;
}

.maxWidth.taskList>.table-responsive,
.form-responsive {
  max-height: 28rem;
  min-height: 28rem;
}

.maxWidth.assign-employees-table>.table-responsive,
.form-responsive {
  max-height: 22rem;
  min-height: 22rem;
}

/*== Normal ==*/
.data-table-no-outline thead {
  background-color: lightgrey;
  height: 2.5rem;
  position: sticky;
  top: 0;
}

.data-table-no-outline tbody tr:hover {
  color: #3c4b64;
  background-color: rgba(211, 211, 211, 0.13) !important;
}

.data-table-no-outline thead tr th:nth-child(1) {
  width: 40%;
}

.data-table-no-outline thead tr th:nth-child(2) {
  width: 35%;
}
